body {
	height: 100vh;
}

/*navbar*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

/*cards and tables*/

.card {
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    max-height: 100vh;
}

.card-body .table thead tr th {
    text-align: center;
} 


td {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 413px) {

    .card-body {
        font-size: 9px;
    }

    .table-striped {
        font-size: 13px;
    }
}

@media screen and (max-height: 735px) {

    .card-body {
        font-size: 9px;
    }

    .table-striped {
        font-size: 13px;

    }
}

/*Remember to use media query to resize navbar and titles!!!!*/

/*preloader*/

#preloader {
    background: transparent url(loading-17.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
